{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Hello, {{ name }}. You are from {{ loc }}.</h1>

{% if isDisplay %}
<h1>You are Yuqi! We love Yuqi.</h1>
{% else %}
<h1>You are not Yuqi. We love {{ name }} as well.</h1>
{% endif %}

<h2>You can choose</h2>
{% for dish in menu %}
<li>{{ dish }}</li>
{% endfor %}
<h2>to eat tonight</h2>
<!-- {{ super() }} is for <p>This belongs to the base.</p> in base.html to show in home.html -->
{{ super() }}
{% include 'include.html' %}
{% endblock %}