{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Hello, {{ name }}. You are from {{ loc }}.</h1>

{% if isDisplay %}
<h1>You are Yuqi! We love Yuqi.</h1>
{% else %}
<h1>You are not Yuqi. We love {{ name }} as well.</h1>
{% endif %}

<h1>Database Results:</h1>
{% for item in results %}
<h2>ID: {{ item.id }} Name: {{ item.name }} Location: {{ item.location }}</h2>
{% endfor %}

<!-- {{ super() }} is for <p>This belongs to the base.</p> in base.html to show in home.html -->
{{ super() }}
{% include 'include.html' %}
{% endblock %}